In [1]:
import pandas as pd

In [3]:
admission_methods = pd.read_excel('dataset/AdmissionMethods.xlsx')
discharge_methods = pd.read_excel('dataset/DischargeMethods.xlsx')
gender = pd.read_csv('dataset/Gender.txt')
hcresgroup = pd.read_excel('dataset/HCResGroup.xlsx')
calender = pd.read_excel('dataset/HealthServiceCalendar.xlsx')
patient_details = pd.read_excel('dataset/PatientDetails.xlsx')
resources = pd.read_excel('dataset/Resources.xlsx')
specialities = pd.read_excel('dataset/Specialties.xlsx')

In [6]:
data = pd.merge(patient_details, admission_methods, on = 'AdmissionMethod')

In [8]:
data = pd.merge(data, discharge_methods, on = 'DischargeMethod')

In [34]:
def get_gender_id(value):
    return value.strip()[0]

In [35]:
gender['GenderId'] = gender['GenderDetails'].apply(get_gender_id)
gender

     GenderDetails GenderId
0         0Unknown        0
1            1Male        1
2          2Female        2

In [36]:
def get_gender(value):
    return value.strip()[1:]

In [37]:
gender['Gender'] = gender['GenderDetails'].apply(get_gender)
gender

     GenderDetails GenderId   Gender
0         0Unknown        0  Unknown
1            1Male        1     Male
2          2Female        2   Female

In [40]:
gender.GenderId = gender.GenderId.astype(int)

In [41]:
data = pd.merge(data, gender, on = 'GenderId')

In [46]:
hcresgroup.rename(columns={'sid_HRGKey':'HRG'}, inplace=True)

In [48]:
data = pd.merge(data, hcresgroup, on = 'HRG')

In [50]:
data = pd.merge(data, calender, on = 'DateKey')

In [53]:
data = pd.merge(data, resources, on = 'cResElem')

In [54]:
specialities

,SpecialtyDescription,Surgical Specialties,Comments
0,110 Trauma & Orthopaedics,TRAUMA & ORTHOPAEDICS,-
1,320 Cardiology,CARDIOLOGY,-
2,340 Respiratory Medicine,RESPIRATORY MEDICINE,also known as Thoracic Medicine
3,501 Obstetrics,OBSTETRICS,The management of pregnancy and childbirth inc...

In [55]:
def get_speciality_id(value):
    return value.strip().split(' ')[0]

In [59]:
specialities['Specialty'] = specialities['SpecialtyDescription'].apply(get_speciality_id)

In [61]:
def get_speciality(value):
    return value.strip()[4:]

In [63]:
specialities['SpecialtyDescription'] = specialities['SpecialtyDescription'].apply(get_speciality)

In [65]:
specialities['Specialty'] = specialities['Specialty'].astype(int)

In [66]:
data = pd.merge(data, specialities, on = 'Specialty')

In [68]:
data.to_csv('dataset/PatientCostingAnalysisData.csv', index=False)

In [69]:
data.to_excel('dataset/PatientCostingAnalysisData.xlsx', index=False)