In [1]:
import pandas as pd

In [2]:
patientdetails = pd.read_excel('dataset/PatientDetails.xlsx')
calendar = pd.read_excel('dataset/HealthServiceCalendar.xlsx')

In [3]:
calendar.isna().sum()

DateKey           0
DayAbbr           0
MonthDayNum       0
YearNum           0
YearMonth         0
MonthAbbr         0
MonthNum          0
DayDate           0
MonthStartDate    0
MonthEndDate      0
PrevYearNum       0
PrevMonthNum      0
dtype: int64

In [4]:
patientdetails.isna().sum()

DateKey                        0
AdmissionMethod                0
Age                            0
Consultant                     0
Consultant Comments            0
Cost                           0
cResElem                       0
cResElem2Name             202074
cResElem3                 202074
cResElemName              206044
cResElem3Name             206044
cResItem                       0
DischargeMethod                0
DominantDiagnosis              0
DominantProcedure_Code     59822
AdmissionDate                  0
DischargeDate                  0
EpisodeID                      0
HRG                            0
IncomeChildTopup               2
IncomeExcessBedDays            2
IncomeTariff                   2
IncomeTopUp                    2
PatientID                      0
PatientType                    0
PercentageSplit                0
resItemName                    0
GenderId                       0
Specialty                      0
Units(days)               181647
Country                        0
State                          0
City                           0
dtype: int64

In [5]:
patientdetails.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211233 entries, 0 to 211232
Data columns (total 33 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   DateKey                 211233 non-null  datetime64[ns]
 1   AdmissionMethod         211233 non-null  int64
 2   Age                     211233 non-null  int64
 3   Consultant              211233 non-null  object
 4   Consultant Comments     211233 non-null  int64
 5   Cost                    211233 non-null  float64
 6   cResElem                211233 non-null  object
 7   cResElem2Name           9159 non-null    object
 8   cResElem3               9159 non-null    object
 9   cResElemName            5189 non-null    object
 10  cResElem3Name           5189 non-null    object
 11  cResItem                211233 non-null  int64
 12  DischargeMethod         211233 non-null  int64
 13  DominantDiagnosis       211233 non-null  object
 14  DominantProcedure_Code  151411 non-null  object
 15  AdmissionDate           211233 non-null  datetime64[ns]
 16  DischargeDate           211233 non-null  datetime64[ns]
 17  EpisodeID               211233 non-null  object
 18  HRG                     211233 non-null  object
 19  IncomeChildTopup        211231 non-null  float64
 20  IncomeExcessBedDays     211231 non-null  float64
 21  IncomeTariff            211231 non-null  float64
 22  IncomeTopUp             211231 non-null  float64
 23  PatientID               211233 non-null  object
 24  PatientType             211233 non-null  object
 25  PercentageSplit         211233 non-null  float64
 26  resItemName             211233 non-null  object
 27  GenderId                211233 non-null  int64
 28  Specialty               211233 non-null  int64
 29  Units(days)             29586 non-null   float64
 30  Country                 211233 non-null  object
 31  State                   211233 non-null  object
 32  City                    211233 non-null  object
dtypes: datetime64[ns](3), float64(7), int64(7), object(16)
memory usage: 53.2+ MB

In [6]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateKey         731 non-null    datetime64[ns]
 1   DayAbbr         731 non-null    object
 2   MonthDayNum     731 non-null    int64
 3   YearNum         731 non-null    int64
 4   YearMonth       731 non-null    object
 5   MonthAbbr       731 non-null    object
 6   MonthNum        731 non-null    int64
 7   DayDate         731 non-null    datetime64[ns]
 8   MonthStartDate  731 non-null    datetime64[ns]
 9   MonthEndDate    731 non-null    datetime64[ns]
 10  PrevYearNum     731 non-null    int64
 11  PrevMonthNum    731 non-null    int64
dtypes: datetime64[ns](4), int64(5), object(3)
memory usage: 68.7+ KB

In [7]:
data = patientdetails.merge(calendar, on='DateKey')

In [8]:
gender = pd.read_csv('dataset/Gender.txt')

In [9]:
def get_gender_id(detail):
    return int(detail.strip()[0])

In [10]:
gender['GenderId'] = gender['GenderDetails'].apply(get_gender_id)
gender['GenderId'] = gender['GenderId'].astype(int)

In [11]:
def get_gender(detail):
    return detail.strip()[1:]

In [12]:
gender['Gender'] = gender['GenderDetails'].apply(get_gender)

In [13]:
gender.drop(columns='GenderDetails', inplace=True)

In [14]:
gender

   GenderId   Gender
0         0  Unknown
1         1     Male
2         2   Female

In [15]:
gender.to_csv('dataset/gender.csv', index= False)

In [16]:
data = data.merge(gender, on = 'GenderId')

In [17]:
data.to_csv('dataset/dashboard_data.csv', index=False)