In [1]:
import pandas as pd
import sqlalchemy
import numpy as np

In [2]:
patient_details = pd.read_excel('dataset/PatientDetails.xlsx')
admission_methods = pd.read_excel('dataset/AdmissionMethods.xlsx')
discharge_methods = pd.read_excel('dataset/DischargeMethods.xlsx')
gender = pd.read_csv('dataset/Gender.txt')
hcres_group = pd.read_excel('dataset/HCResGroup.xlsx')
resources = pd.read_excel('dataset/Resources.xlsx')
specialities = pd.read_excel('dataset/Specialties.xlsx')
health_service_calender = pd.read_excel('dataset/HealthServiceCalendar.xlsx')

In [3]:
conn = sqlalchemy.create_engine("mysql+pymysql://karthikraghavan:karthikraghavan@localhost/dsml")

In [4]:
def create_table(table_creation_query, conn):
    try:
        pd.read_sql_query(table_creation_query, conn)
    except Exception as e:
        print(e)

# Gender

In [8]:
gender

     GenderDetails
0         0Unknown
1            1Male
2          2Female

In [9]:
table_creation_query = """CREATE TABLE gender (GenderDetails VARCHAR(10))"""
    
create_table(table_creation_query, conn)

This result object does not return rows. It has been closed automatically.

In [14]:
gender.to_sql('gender', index=False, con=conn, if_exists='replace')

3

# Patient Details

In [30]:
table_creation_query = """CREATE TABLE patientdetails (
DateKey DATE,
AdmissionMethod INT,
Age INT, 
Consultant VARCHAR(15),
ConsultantComments INT, 
Cost FLOAT, 
cResElem VARCHAR(15), 
cResElem2Name VARCHAR(15), 
cResElem3 VARCHAR(15),
cResElemName VARCHAR(15), 
cResElem3Name VARCHAR(15), 
cResItem INT, 
DischargeMethod INT,
DominantDiagnosis VARCHAR(10), 
DominantProcedure_Code VARCHAR(10), 
AdmissionDate DATE,
DischargeDate DATE, 
EpisodeID VARCHAR(15), 
HRG VARCHAR(5), 
IncomeChildTopup FLOAT,
IncomeExcessBedDays FLOAT, 
IncomeTariff FLOAT, 
IncomeTopUp FLOAT, 
PatientID VARCHAR(15),
PatientType VARCHAR(15), 
PercentageSplit FLOAT, 
resItemName VARCHAR(15), 
GenderId INT,
Specialty INT, 
Units_in_days FLOAT, 
Country VARCHAR(35), 
State VARCHAR(35), 
City VARCHAR(35)
)"""
    
create_table(table_creation_query, conn)

This result object does not return rows. It has been closed automatically.

In [31]:
patient_details.to_sql('patientdetails', index=False, con=conn, if_exists='replace')

211233

In [33]:
# admission_methods = pd.read_excel('dataset/AdmissionMethods.xlsx')
# discharge_methods = pd.read_excel('dataset/DischargeMethods.xlsx')
# hcres_group = pd.read_excel('dataset/HCResGroup.xlsx')
# resources = pd.read_excel('dataset/Resources.xlsx')
# specialities = pd.read_excel('dataset/Specialties.xlsx')
# health_service_calender = pd.read_excel('dataset/HealthServiceCalendar.xlsx')

# HealthServiceCalendar

In [13]:
table_creation_query = """CREATE TABLE health_service_calender (
    DateKey DATETIME, DayAbbr VARCHAR(3),MonthDayNum INT ,YearNum INT,YearMonth VARCHAR(8),MonthAbbr VARCHAR(3),MonthNum INT,DayDate DATETIME,MonthStartDate DATE,MonthEndDate DATE,PrevYearNum INT,PrevMonthNum INT
)"""

create_table(table_creation_query, conn)

This result object does not return rows. It has been closed automatically.

In [14]:
health_service_calender.to_sql('health_service_calender', index=False, con=conn, if_exists='replace')

731