In [1]:
import pandas as pd
import sqlalchemy

In [2]:
conn = sqlalchemy.create_engine("mysql+pymysql://karthikraghavan:karthikraghavan@localhost/dsml")

In [3]:
gender = pd.read_sql_table('gender',conn)

In [4]:
gender

     GenderDetails
0         0Unknown
1            1Male
2          2Female

In [5]:
patient_details = pd.read_sql_table('patientdetails',conn)

In [6]:
patient_details.head()

,DateKey,AdmissionMethod,Age,Consultant,Consultant Comments,Cost,cResElem,cResElem2Name,cResElem3,cResElemName,...,PatientID,PatientType,PercentageSplit,resItemName,GenderId,Specialty,Units(days),Country,State,City
0,2019-07-30,21,83,C3289011,26657,0.948547,CentSurg,None,None,None,...,Pat00836,NonElective,1.0,CentSurg,1,110,NaN,United States,Texas,Pasadena
1,2019-07-30,22,34,C3499117,78221,8.724782,Path1054,None,None,None,...,Pat03088,NonElective,1.0,Pathology,1,340,NaN,United States,Washington,Seattle
2,2019-07-30,22,34,C3499117,78222,8.724782,Path1054,None,None,None,...,Pat03088,NonElective,1.0,Pathology,1,340,NaN,United States,Washington,Seattle
3,2019-07-30,22,34,C3499117,78223,4.362391,Path1054,None,None,None,...,Pat03088,NonElective,1.0,Pathology,1,340,NaN,United States,Washington,Seattle
4,2019-07-30,22,34,C3499117,78224,4.945204,Path1311,None,None,None,...,Pat03088,NonElective,1.0,Pathology,1,340,NaN,United States,Washington,Seattle

In [7]:
# Preprocessing Gender Table

In [8]:
def get_gender_id(detail):
    return int(detail.strip()[0])

In [9]:
gender['GenderID'] = gender['GenderDetails'].apply(get_gender_id)
gender['GenderID'] = gender['GenderID'].astype(int)

In [10]:
gender['GenderID']

0    0
1    1
2    2
Name: GenderID, dtype: int64

In [11]:
def get_gender(detail):
    return detail.strip()[1:]

In [12]:
gender['Gender'] = gender['GenderDetails'].apply(get_gender)

In [13]:
gender

     GenderDetails  GenderID   Gender
0         0Unknown         0  Unknown
1            1Male         1     Male
2          2Female         2   Female

In [14]:
# Joining Patient Details and Gender

In [15]:
patient_details.columns

Index(['DateKey', 'AdmissionMethod', 'Age', 'Consultant',
       'Consultant Comments', 'Cost', 'cResElem', 'cResElem2Name', 'cResElem3',
       'cResElemName', 'cResElem3Name', 'cResItem', 'DischargeMethod',
       'DominantDiagnosis', 'DominantProcedure_Code', 'AdmissionDate',
       'DischargeDate', 'EpisodeID', 'HRG', 'IncomeChildTopup',
       'IncomeExcessBedDays', 'IncomeTariff', 'IncomeTopUp', 'PatientID',
       'PatientType', 'PercentageSplit', 'resItemName', 'GenderId',
       'Specialty', 'Units(days)', 'Country', 'State', 'City'],
      dtype='object')

In [16]:
dashboard_data = patient_details.merge(gender,left_on='GenderId', right_on='GenderID')
dashboard_data.to_csv('dataset/dashboard_data.csv', index = False)

In [17]:
pd.read_sql_query("""SHOW TABLES""",conn)

            Tables_in_dsml
0                     city
1                delhivery
2                 employee
3  farmers_market_customer
4                   gender
5  health_service_calender
6                  movies1
7           patientdetails
8                 students
9                 weather1

In [18]:
# health_service_calender

In [19]:
dashboard_data = pd.read_csv('dataset/dashboard_data.csv')

In [20]:
health_service_calender = pd.read_sql_table('health_service_calender',conn)

In [21]:
dashboard_data.DateKey = pd.to_datetime(dashboard_data.DateKey)

In [22]:
health_service_calender.columns

Index(['DateKey', 'DayAbbr', 'MonthDayNum', 'YearNum', 'YearMonth',
       'MonthAbbr', 'MonthNum', 'DayDate', 'MonthStartDate', 'MonthEndDate',
       'PrevYearNum', 'PrevMonthNum'],
      dtype='object')

In [23]:
dashboard_data = pd.concat([dashboard_data,health_service_calender], join = 'outer', axis = 1)
dashboard_data.to_csv('dataset/dashboard_data.csv', index = False)

In [24]:
dashboard_data

,DateKey,AdmissionMethod,Age,Consultant,Consultant Comments,Cost,cResElem,cResElem2Name,cResElem3,cResElemName,...,MonthDayNum,YearNum,YearMonth,MonthAbbr,MonthNum,DayDate,MonthStartDate,MonthEndDate,PrevYearNum,PrevMonthNum
0,2019-07-30,21,83,C3289011,26657,0.948547,CentSurg,NaN,NaN,NaN,...,1.0,2018.0,2018-Jul,Jul,7.0,2018-07-01,2018-07-01,2018-07-31,2017.0,6.0
1,2019-07-30,22,34,C3499117,78221,8.724782,Path1054,NaN,NaN,NaN,...,2.0,2018.0,2018-Jul,Jul,7.0,2018-07-02,2018-07-01,2018-07-31,2017.0,6.0
2,2019-07-30,22,34,C3499117,78222,8.724782,Path1054,NaN,NaN,NaN,...,3.0,2018.0,2018-Jul,Jul,7.0,2018-07-03,2018-07-01,2018-07-31,2017.0,6.0
3,2019-07-30,22,34,C3499117,78223,4.362391,Path1054,NaN,NaN,NaN,...,4.0,2018.0,2018-Jul,Jul,7.0,2018-07-04,2018-07-01,2018-07-31,2017.0,6.0
4,2019-07-30,22,34,C3499117,78224,4.945204,Path1311,NaN,NaN,NaN,...,5.0,2018.0,2018-Jul,Jul,7.0,2018-07-05,2018-07-01,2018-07-31,2017.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211228,2019-07-30,21,83,C3289011,26652,10.257693,100,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
211229,2019-07-30,21,83,C3289011,26653,23.352198,100,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
211230,2019-07-30,21,83,C3289011,26654,25.451158,100,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
211231,2019-07-30,21,83,C3289011,26655,5.131863,100,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
211232,2019-07-30,21,83,C3289011,26656,6.354020,100,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN

In [28]:
dashboard_data.DayDate

0        2018-07-01
1        2018-07-02
2        2018-07-03
3        2018-07-04
4        2018-07-05
            ...
211228          NaT
211229          NaT
211230          NaT
211231          NaT
211232          NaT
Name: DayDate, Length: 211233, dtype: datetime64[ns]